@import "../../node_modules/normalize.css/normalize";

ul,a {
    list-style: none ;
    text-decoration: none;
  }
  div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6,
  ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label,
  select, input, textarea {
    padding: 0;
    margin: 0;
    line-height: 1em;
  }
body{
    font-family: 'Montserrat', sans-serif ;
    font-size: 18px;  
    font-weight: 400; 
    overflow-x: hidden;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
   
}

.menu__icon {
    display: none;
    width: 26px;
     height: 21px;
    position: relative;
    cursor: pointer;
    span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #333333;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
     span:nth-child(1) {
        width: 20px;
        top: 0px;
     
    }
    
    span:nth-child(2), span:nth-child(3) {
        top: 13px;
    }
    
    span:nth-child(4) {
        top: 26px;
     }
    
 }
 

 
 
 .menu__links-item {
     display: inline-block;
     color: #333333;
     font-size: 14px;
     line-height: 30px;
     text-decoration: none;
     cursor: pointer;
    
 }
 
 
 .menu.menu_state_open .menu__icon span:nth-child(1) {
     top: 18px;
     width: 0%;
     left: 50%;
     
 }
 
 .menu.menu_state_open .menu__icon span:nth-child(2) {
     transform: rotate(45deg);
 }
 
 .menu.menu_state_open  .menu__icon span:nth-child(3) {
     transform: rotate(-45deg);
   
 }
 
 .menu.menu_state_open  .menu__icon span:nth-child(4) {
     top: 18px;
     width: 0%;
     left: 50%;
   
 }
 
 .menu.menu_state_open .menu__links {
     display: block;  
 }
 
 
 
 .top{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     margin:31px 0  ;
 }
 .buy-now{
     width: 150px;
     height: 48px;
     background-color: #8d81ac;
     color: #ffffff;
     font-size: 17px;
     font-weight: 700;
     line-height: 15px;
     border: none;
     border-radius: 55px;
 }

.hero{
    background: url("../img/hero.png")no-repeat center center;
    background-size: cover;
    .hero-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .headline{
            color: #ffffff;
            font-size: 82px;
            font-weight: 700;
            margin: 108px 0 22px 0;
        }
        .subtitle{
            color: #645c7c;
            font-size: 24px;
            margin:22px 0 20px 0;
            line-height: 34px;
        }
        .text{
            color: #848e97;
            font-size: 16px;
            line-height: 20.45px;
            text-transform: uppercase;
            margin-bottom: 500px;
        }
        .pos{
            position: relative;
            top:65px;
            .download-btn{
                padding: 23px 68px 22px 66px;
                background: #8d81ac;
                border: none;
                border-radius: 70px;
                color: #ffffff;
                font-size: 21px;
                font-weight: 700;
                
               
            }
            .btn-subtitle{
                color: #848e97;
                font-size: 14px;
                line-height: 15px;
                margin-top: 20px;
            }

            }
    }
}

.revolutionary-editor{
    margin-top: 118px;
    text-align: center;
    .headline{
        color: #635c73;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 54px;
        
        
    }
    .text{
        opacity: 0.8;
        color: #323232;
        font-family: "Source Sans Pro";
        line-height: 26px;
        margin-bottom: 34px;
        max-width: 878px;
        margin:0 auto;
    }
    .git-box{
        margin: 36px 0 54px 0;
    }
}


.features {
	background: #f4f4f4;
	padding:1px 10px 1px 10px;
    position: relative;
    
    .features-inner {
        display: flex;
        justify-content: space-between;
        max-width: 1130px;
        margin:80px auto 80px;
        .features-title {
            
            img {
                position: absolute;
                right: -320px;
                top:240px;
                width: 1060px;
               
            }
        } 
        .features-container {
            display: block;
            margin-top: 50px;
           
           .inform-item {
               display: flex;
               max-width:450px;
               margin:0 auto;
               &:not(:last-child){
                   margin-bottom: 35px;
               }
               
               .features-icon {
                   margin-right: 25px;
                   text-align: center;
                   min-width: 108px;
               }
              
               
               
           }
           .features-text {
               padding:5px;
               max-width: 326px;
                h4 {
                   color: #323232;
               }
               
                p {
                   color: #848e97;
                   font-size: 14px;
                   margin-top: 15px;
               }
           }
           
       } 
    }
}


.features-title {
	order:1;
	min-width: 600px;
}
.features-title  h2 {
	font-size: 48px;
	color: #8d81ac;
	position: absolute;
	top:100px;
	right: 160px;
	
}

.inform-img {
	display: none;
}

.social{
    .social-content{
        margin-top:120px;

        .social-review{
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 45px;
            .name{
                margin-left: 23px;

                .headline{
                    color: #474747;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                }
                .nickname{
                    color: #8d81ac;
                    font-size: 16px;
                    line-height: 32px;
                }
            }
            
        }
        .text-block {
            .text{
                max-width: 720px;
                color: #333333;
                font-family: "Source Sans Pro";
                font-size: 20px;
                line-height: 32px;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 25px;
                .pixel{
                    color: #8d81ac;
                }
            }
            .time{
                color: #848e97;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
            
            }
        }
        .social-box-btn{
            text-align: center;
            margin: 146px 0 50px 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            i{
                padding-right: 30px;
                text-align: center;
            }
            p{
                color: #848e97;
                font-size: 14px;
                line-height: 32px;
                padding-bottom: 29px;
                margin-top: 15px;
            }
            button{
                width: 280px;
                height: 50px;
                border: none;
                outline: none;
                font-size: 21px;
                line-height: 32px;
               
            }
            .git{
                background-color: #f3f3f3;
                color: #000000;
               
            }
            .twit{ 
                background-color: #26a6d1;
                color: #ffffff; 
                margin: 0 40px;
               
            }
            .face{ 
                background-color: #3b5998;
                color: #ffffff;
                
            }
        }
     }
}
 
 .testimonials{
     background: url("../img/2-layers.png") no-repeat center center;
     background-size: cover;

     .testimonials-content{
         
        .headline{
            color: #ffffff;
            font-size: 48px;
            font-weight: 700;
            line-height: 60px;
            text-align: center;
            padding: 66px 0 32px 0;
        }
        .review{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            .item-review{
                width: 330px;
                margin: 0 auto 65px ;
                p{
                    color: #ffffff;
                    font-family: "Source Sans Pro - Bold It";
                    line-height: 24px;
                    margin-top: 37px;
                    font-weight: 700;
                }
            }
             
        }
     }
 }
 
.pricing {
    background: #4b3b4e;
    // position: relative;
    // top: -1px;
    .pricing-content{
      padding-bottom: 77px;
      background: url("../img/LayerPrice.png") no-repeat center;
      background-size: cover;
      text-align: center;
      .headline {
        color: #ffffff;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        padding-top:50px;
      }
      .pricing-box{
        padding-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .blok-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #fff;
          background: rgba(102, 85, 105, 0.4);
          width: 250px;
          margin: 0 13px 10px;
          transition: all .5s;
          list-style: none;
          &:hover {
            background: rgba(57, 45, 61, 0.3);
            transform: scale(1.15);
            transition: all .5s;
          }
          li {
              list-style: none;
            h4 {
              font-size: 24px;
              font-weight: 400;
              text-transform: uppercase;
              background-color: #6e5d6a;
              color: #ffffff;
              padding: 45px 0 33px;
              width: 100%;
              
            }
            .money {
              display: block;
              padding: 36px 0 26px;
              text-transform: uppercase;
              font-size: 60px;
              font-weight: 700;
            }
            .month {
              display: block;
              position: relative;
              padding-bottom: 43px;
              opacity: 0.3;
              color: #ffffff;
              font-size: 14px;
              font-weight: 400;
              text-transform: uppercase;
              &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 5px;
                margin: 0 auto;
                width: 60px;
                height: 5px;
                background-color: #8d81ac;
              }
            }
            p {
              width: 215px;
              margin: 26px auto 46px;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
            }
  
            a {
              display: inline-block;
              margin-bottom: 60px;
              padding: 16px 38px 14px 37px;
              background: #776b79;
              color: #fff;
              border-radius: 25px;
              font-size: 15px;
              font-weight: 400;
              text-transform: uppercase;
              &:hover  {
                background: #392d3d;
              }
            }
          }
  
          &:hover h4 {
            background: #392d3d;
          }
        }
        .blok-item:nth-child(1){
          p {
            margin-bottom: 70px;
          }
        }
      }
      .text {
        max-width: 862px;
        padding-top: 120px;
        margin: 0 auto;
        opacity: 0.8;
        color: #a291a5;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
               
 .subscription {
     padding: 46px 0;
     background: #f4f4f4;
     .subscription-block{

        .headline {
            color: #323232;
            font-size: 30px;
            font-weight: 700;
            text-align: center; 
        }
          input {
            color: #c8cbcf;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            width: 235px;
            padding: 16px 0 14px 28px;
            border-radius: 30px;
            border: none;
            outline: none;
            &::placeholder {
                color: #c8cbcf;
            }
        }
        button {
            margin-left: 20px;
            padding: 16px 28px 15px 36px;
            background: #8d81ac;
            border: none;
            border-radius: 30px;
            color: #ffffff;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
        }  
     }
 }
 
 .links{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     margin-top:79px;
     margin-bottom: 90px;
     flex-wrap: wrap;
     .release{
        h6{
            color: #464646;
            padding-bottom: 14px;
            line-height: 26px;
           
        }
        button{
            width: 164px;
            height: 35px;
        }
    }
    .extensions{
        h6{
            color: #8d81ac;
            padding:12px 0 10px 0;     
        }
        button{
            width: 164px;
            height: 35px;
        }
    } 
    .blog {
        h6{
            color: #8d81ac;
            line-height: 26px;
           
        }
        p{
            padding: 14px 0 32px 0;
        }
        button{
            width: 113px;
            height: 35px;
        }
    }
     .links-box{
        max-width: 350px;
        margin: 0 auto;
        
         
    }
    h5{
        color: #d3d1da;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 58px;
    }
    p{
        color: #848e97;
        font-size: 13px;
        line-height: 21px;
        padding-bottom: 32px;
    }
    button{
        color: #8d81ac;
        font-size: 14px;
        background-color: #f4f4f4;
        border: none;
        margin-bottom: 59px;
        outline: none;
       
    }
 }
 

 .footer-content{
     display: flex;
     justify-content: space-between;
     flex-direction: row;
    //  align-items: center;
     flex-wrap: wrap;
     
    .logo-content{

        .subtitle-logo{
            color: #848e97;
            font-size: 14px;
            width: 253px;
            margin:24px 0 36px 0;
        
        }
    }
        .navig{
            padding-bottom: 20px;
            p{
                color: #000;
                padding-bottom: 22px;
                font-weight: 400;
                
            }
            a{
                color: #8d81ac;
                font-size: 15px;
                line-height: 23px;
                text-decoration: none;
                
                &:hover{
                    color: #4e416d;
                }
            }
        }
        .contact{
            h5{
                color: #31384d; 
                font-size: 30px;
                font-weight: 700;
                line-height: 28px;
                
            }
            h6{
                color: #323232;
                font-size: 16px;
                line-height: 28px;
                margin: 20px 0 26px 0;
            }
            p{
                color: #848e97;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.28px;
            
            }
        }
        .info{
            padding-top: 15px;
            p{
                color: #848e97;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.28px;
                width: 247px; 
                margin-top: 20px;
                
            }
        }
}


@media screen and (min-width: 605px) {
  
    .menu__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item{
            display: none;
    
        }
        .menu__links-item{
            color: #635c73;
            font-weight: 700;
            padding-left: 29px;
            
        }
        
    }
    
    
    .buy-now{
        order: 6;
    }
  
  
    .subscription-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        align-content: center;
    }
   
}

@media screen and (max-width: 1000px) {
	.features-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
        margin-bottom: 0;
        
	}

	.features-title {
		order:0;
		width: auto;
		text-align: center;
        min-width: 300px;
        h2 {
            position: static;
        }
        img {
            display: none;
        }
	}

	


	.inform-img {
		display: flex;
        justify-content: flex-end;
        img {
            max-width: 100%;
            margin-left: 30px;
            position: relative;
            left: 10px;
            top: 0px;
           
        }
	}

}

@media screen and (max-width: 600px) {
    .menu__icon{
        display: inline-block;
      }
      
      .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 104px;
        background-color: #333333;
        z-index: 1000;
        overflow: auto;
        color: #ffffff;  
        .menu__links-item {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid #393939;
            color: #ffffff;
            font-size: 32px;
            line-height: 106px;
          }  
      }
      
	.inform-img {
        display: block;
        img {
            width:100%;
            margin-left: 0;
        }
	}
    .revolutionary-editor .headline{
        text-align: center;
    }
    .pricing-box .blok-item{
        border-radius: 0;
        width: 100%;
        margin-right: 0;
    }
  
    .pricing-box .blok-item:hover{
        transform: none;
        box-shadow: none;
    }


    .subscription-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .subscription .headline{
        padding-bottom: 43px;
        font-size: 28px;
    }
    .footer-block{
        width: 392px;
        margin: 0 auto; 
       
    }
	
}

  
   
 
